<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--mapper表示根标签-->
<!--com.xing.springmvcdemo230410.mapper.UserMapper（UserMapper是接口）-->
<mapper namespace="com.xing.springmvcdemo230410.mapper.UserMapper">

    <!--
        mapper接口和映射文件要保持一致
        1.mapper接口的全类名和映射文件namespace一致
        2.mapper接口中的方法的方法名要和映射文件中的sql的id保持一致
    -->

    <!--List<User> getAll();-->
    <select id="getAll">
        <!--使用#符号可以防止sql注入，因为他是采用占位符的方式赋值，无形中可以理解为加密-->
        select * from user where UserName = #{userName}
        <!--使用$符号，不安全，不能防止sql注入-->
        <!--select * from user where UserName = ${userName}-->
    </select>


</mapper>